.main
  .main__content
    全てのタスク
  .main__action
    .main__action__plan
      %ul.tasks
        - @posts.each do |post|
          %li.task
            .task-left
              .task-left__top
                .task-left__top__button
                  = check_box_tag :check1
                .task-left__top__title
                  = post.title
              .task-left__date
                = post.due_date
            .task-right
              .task-right__edit
                = link_to '編集'
              .task-right__delete
                = link_to '削除'
      .add-task
        タスクを追加