.new-task
  = form_for @post do |f|
    .task
      %p タスク
      = f.text_field :title, class: "task__form"
    .date
      %p 期日
      = f.date_select :due_date, class: "date__deadline"
    -# .sub-task
    -#   %p サブタスク
    -#   = f.fields_for :sub_tasks do |t|
    -#     = t.text_field :task, class: "sub-task__form"
    .memo
      %p メモ
      = f.text_area :memo, class: "memo__form"
    .add-btn
      = f.submit "投稿する", class: "task-btn"
      -# %button.task-btn{type: "submit", method: "post"}
      -#   投稿